#svg {
  width: 100%;
  height: 100%;
  background-color: rgb(241, 241, 239);
}

.tick {
  font-size: 15px;
  color: #888;
}

.y-axis .domain {
  display: none;
}

.y-axis .tick line {
  stroke: #dfdfdf;
}
